.mama1{
    background-color: red;
    width: 30%;
    height: 60px;
    margin-left: 452px;
}
.div1{
    background-color: red;
    width: 100%;
    height: 60px;
}
.div2{
    background-color: green;
    width: 100%;
    height: 60px;
}
.div3{
    background-color: blue;
    width: 100%;
    height: 60px;
}
.mama2{
    background-color: aliceblue;
    width: 30% ;
    height:180px ;
    margin-top: 130px;
    margin-left: 452px;
}
.div4{
    background-color: blue;
    width: 100%;
    height: 60px;
    display: flex;
}
.div41{
    background-color: rgb(255, 0, 0);
    width: 33%;
    height: 60px;
}
.div42{
    background-color: rgb(0, 105, 5);
    width: 33%;
    height: 60px;
}
.div5{
    background-color: rgb(253, 253, 158);
    width: 100%;
    height: 60px;
}
.div6{
    background-color: black;
    width: 100%;
    height: 60px;
    display: flex;
}
.div61{
    background-color: gray;
    width: 50%;
    height: 60px;
}
.mama3{
    background-color: rgb(75, 168, 79);
    width: 100%;
    height: 190px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.div7{
    background-color: rgb(255, 0, 0);
    width: 150px;
    height: 150px;
    display: flex;
}
.div8{
    background-color: rgb(6, 68, 0);
    width: 150px;
    height: 150px;
    display: flex;
}
.div9{
    background-color: rgb(25, 0, 167);
    width: 150px;
    height: 150px;
    display: flex;
}